BOT_TOKEN=
MONGO_URI=
DATABASE_NAME=shizuka
ADMIN_IDS=
BOT_USERNAME=
STORAGE_CHANNEL_ID=
DEFAULT_DAILY_FREE_LIMIT=10
DEFAULT_REFERRAL_REWARD=5
DEFAULT_CHECKIN_REWARD=2
CLEANUP_ENABLED=true
CLEANUP_AFTER_MINUTES=10
SHORTENER_TIMEOUT=15
LOG_LEVEL=INFO
